<section class="container">
    <table class="paper table table-striped">
        <thead class="thead-dark">
            <tr class="d-flex">
                <th class="col-2">Mã khách hàng</th>
                <th class="col-3">Họ tên khách hàng</th>
                <th class="col-3">Email</th>
                <th class="col-2 text-right">Số điện thoại</th>
                <th class="col-2 text-right">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr class="d-flex">
                <td class="col-2">
                    <a href="/users/profile/{{this.userID}}">
                        <p class="text-info">{{this.userID}}</p>
                    </a></td>
                <td class="col-3">{{this.fullname}}</td>
                <td class="col-3">{{this.email}}</td>
                <td class="col-2 text-right">{{this.phone}}</td>
                <td class="col-2 text-right">
                    {{#if this.isActive}}
                    <p class="text-success">Hoạt động</p>
                    {{else}}
                    <p class="text-danger">Đã khóa</p>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>