<section class="container">
	<form class="paper form-inline d-flex justify-content-end" action="/revenue/year" method="get">
		<div class="form-group">
			<label>Chọn năm:</label>
			<input class="form-control w-50" type="text" name="year">
		</div>
		<button type="submit" class="btn btn-info">Chọn</button>
	</form>
	<br>
	{{#if data}}
	<table class="table table-striped paper">
		<thead class="thead-dark">
			<tr class="d-flex">
				<th class="col-3">Mã sản phẩm</th>
				<th class="col-4">Tên sản phẩm</th>
				<th class="col-2">Số lượng</th>
				<th class="col-3">Thành tiền</th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr class="d-flex">
				<td class="col-3">{{this.productID}}</td>
				<td class="col-4">{{this.name}}</td>
				<td class="col-2">{{this.count}}</td>
				<td class="col-3">{{this.total}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="card-header">
		<strong>Tổng cộng: {{totalSum}} đ</strong>
	</div>
	{{else}}
	Không có dữ liệu.
	{{/if}}
</section>