<section class="container ">
	<table class="paper table table-striped ">
		<thead class="thead-dark">
			<tr class="d-flex">
				<th class="col-2">Mã sản phẩm</th>
				<th class="col-2 text-center">Thuơng hiệu</th>
				<th class="col-3 text-center">Tên sản phẩm</th>
				<th class="col-2 text-right">Số lượng đã bán</th>
				<th class="col-2 text-right">Giá</th>
				<th class="col-1 text-right"></th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
			<tr class="d-flex">
				<td class="col-2">{{this.productID}}</td>
				<td class="col-2 text-center">{{this.brand}}</td>
				<td class="col-3 text-center">{{this.name}}</td>
				<td class="col-2 text-right">{{this.noOfPurchased}}</td>
				<td class="col-2 text-right">{{this.price}}</td>
				<td class="col-1 text-right">
					<a href="/products/{{this.productID}}"><i class="fas fa-info"></i></a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>